/* UTILITIES */

.container {
    margin: 20px 0;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.text-center {
    text-align: center;
}